/* || General styling */

* {
    font-family: sans-serif;
}

html {
    height: 100%;
    background-color: #2b76b9; /* Fallback for older browsers that don't support gradients */
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

img {
    width: 150px;
    height: 100px;
    margin: 5px;
}

p, h1, h2, h3 {
    margin: 0;
    color: #242222;
}

a {
    text-decoration: none;
    color: #242222;
}

a:hover {
    color: #2b76b9;
    font-weight: bold;
}

.titles {
    text-align: center;
    padding: 20px;
    letter-spacing: 2px;
    text-transform: lowercase;
}

body {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #fff;
    display: flex;
    height: 70px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    grid-column: 1/5;
}

footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    grid-column: 1/5;
    grid-row-start: 3;
    font-size: 14px;
}

/* || Styling for index.html */

#index-wrap {
    width: 1024px;
    height: 700px;
    border-radius: 2px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.05);
    overflow: hidden;
    display: grid;
}

#logo {
    padding-left: 10px;
    padding-right: 50px;
}

#menu-login {
    margin-left: auto;
    padding: 20px;
}

#menu {
    padding-left: 0;
    display: flex;
}

#menu > li {
    display: inline;
    padding: 20px;
}

#index-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    background-color: #fff;
    padding:20px;
}

#index-main > div {
    grid-column: 1/3;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-gap: 20px;
    align-content: center;
}

#subtext {
    padding: 20px;
    text-align: center;
}

#article-1, #article-2 {
    padding: 20px;
    text-align: center;
}

#article-1 > p:nth-child(3)  {
    color: #2b76b9;
    font-weight: bold;
}

aside {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

aside > ul {
    padding: 0;
    margin: 0;
}

aside > ul > li {
    display: inline;
    padding: 20px;
}

aside > ul > li > h3 {
    background-color: #2b76b9;
    color: #fff;
}

ol {
    padding-left: 0;
}

ol > li {
    list-style: none;
    padding: 5px;
}

ol > li:nth-child(odd) {
    background-color: #dce1e6;
}
ol > li:nth-child(even) {
    background-color: #c5d0da;
}

/* || Styling for login.html */

#login-wrap {
    width: 1024px;
    border-radius: 2px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.05);
    overflow: hidden;
}

#login-main {
    background-color: #fff;
    grid-column: 1/5;
    padding: 20px;
}

#login-main > div {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    display: grid;
    text-align: center;
}

#login-main > div > h2 {
    text-transform: uppercase;
    grid-column: 2/3;
    grid-row-start: 1;
    padding: 20px;
}

#login-main > div > form {
    grid-column: 2/3;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    background-color: #dce1e6;
    border-radius: 5px;
    padding: 20px;
}

#login-main > div > form > label {
    margin-bottom: 10px;
    text-align: left;
    letter-spacing: 2px;
}

.input-style {
    border-width: 0 0 2px;
    border-color: #2b76b9;
    padding: 20px;
    margin-bottom: 20px;
}

.buttons {
    padding: 20px;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    margin: 10px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.buttons:focus {
    background: #215b8f;
}

